body{
 background-repeat: no-repeat;
 background-color: #FFFFFF;


}

ul{
  float: right;
  list-style-type: none;
  margin-top: 25px;
}

ul li{
  display: inline-block;
}

ul li a{
  text-decoration: none;
  color: #0000ff;
  padding: 5px 20px;
  border: 1px solid #0000ff;
  transition: 0.6s ease;
}

ul li a:hover{
  background-color: #0000ff80;
  color: 000;

}

/*Table*/
table{
  width: 400px;

}
th{
  text-align: left;
}

table, th, td{
  border: 1px solid #000;
  border-collapse: collapse;
}
th,td{
  padding: 10px;

}
tr:nth-child(even){
  background-color: #fff;
}
tr:nth-child(odd){
  background-color: #ddd;
}

.floatRight{float:right;margin-left:20px}

.resize {
  width: 25%;
  height: 250px;
  overflow: hidden;
}

.header {
  background-color: skyblue;
  height: 100px;
  color: 4f889f;
  padding: 1px;
}
